/* ==|====================
   Layout/Main
   ======================= */

@keyframes bola2 { transform:  rotateZ(0deg);}  
    


@keyframes bola1 { 
    from {transform: translate(0px); -o-transform: translate(0px);}  
    to {transform: translate(200px); -o-transform: translate(200px);}      

}

main {
  width: 100%; height: auto; position: relative; padding: 0; margin: 0; z-index: 3;
  &.PageContainer {
    min-height: 100vh; @include display(flex); @include flex-direction(column); @include flex-wrap(wrap);
    overflow-y: hidden;
overflow-x: hidden;
  }
}
article {
  width: 100%; height: auto; padding: 0; margin: 0; position: relative;
}

.titleGen {
  height: auto; padding: 0 0 10px; margin: 0 0 15px; position: relative;
  &.full {
    width: 100%; display: block;
    &:after {
      width: 100%;
    }
  }
  &.small {
    width: auto; display: inline-block;
    &:after {
      width: calc(100% + 15px);
    }
  }
  &.center {
    text-align: center;
    &:after {
      left: 50%; @include transform(translateX(-50%));
    }
  }
  &__head {
    padding: 0; margin: 0; color: $col7; text-transform: uppercase;
    &--left { text-align: left; }
    &--center { text-align: center; }
    &--right { text-align: right; }
  }
  &:after {
    content: ''; height: 1px; border-bottom: 1px solid $col7; @include position(absolute, null null 0 0);
  }
}

// Sections

.bgsSection1{
  
  padding-left: 12% !important;
padding-top: 11%;
  h1{
    font-family: $sofiaBold;
    font-size: 2.7em;
    text-align: center;
    width: 85%;
    padding-top: 5%;
  }
  label,p{
    font-family: $sofiaRegular;
    font-size: 12px;
  }
  .noMargin{
    margin:0%;
    padding: 0%;
    hr.hr{
      border-top: 5px solid $aqua;
      width: 100%;
    }
    label{
      font-size: 1.3em !important;
      letter-spacing: 1px;
      font-weight: lighter;
      text-align: center;
      padding: 7% 4%;
    }
  }

  ul{
    list-style: none;
    margin-left: -30%;
    li{
        float: left !important;
        margin: 0% !important;
        padding-top: 4%;
      img{
        width: 140px  !important;
        position: inherent !important;
      }
    }
  }
  

  img.celular{
    width: 200% !important;
    position: absolute;
    right: -30%;
    z-index:1;
  }

}

.preSection{
  background-image:  url("#{$imgR}curva2.png"),
                     url("#{$imgR}curva2.png") !important;
  background-color: transparent;
background-repeat: no-repeat;
background-position: left;
height: 95vh;
  position: relative;
  background-size: 80%;
  background-position-y: -10%;
  background-position-x: -190%;
}

.section2{
  background: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  padding: 25% 1%;
  -webkit-box-shadow: 0px 1px 25px 4px #b0aeb0;
  box-shadow: 0px 1px 25px 4px #b0aeb0;
  height: 60vh !important;
  width: 90%;
margin-left: -10% !important;

}
.columnSection2{
.row{
  .col-sm-3{
    text-align: center;
    margin: 2% 0%;
  }
}
  height: auto !important;
  padding-bottom: 5%;
    div> div>img.iconSection{
      width: 20%;
    }
    ul{
      list-style: none;
      h3{
        color: $purple;
        font-size: 1em;
        text-align: center;
        padding-top: 5%;
        letter-spacing: 2px;
        font-family: $sofiaBold;
        font-weith: bold;
        white-space: pre-wrap;
      }
      label{
        color: $letterColor;
      }
    }
  }

.mask{
  margin-top: -10%;
  z-index: 1;
  background-color: transparent;
  img.mask{
  animation: anim1 2s ease-in-out alternate infinite;
     -webkit-animation: anim1 2s ease-in-out alternate infinite;
         transform-origin: 0px 60px;
         animation-name: bola1;
         animation-duration: 8000ms;
         animation-iteration-count: infinite;
         animation-timing-function: linear;
   
         -webkit-transform-origin: 0px 60px;
         -webkit-animation-name: bola1;
         -webkit-animation-duration: 4000ms;
         -webkit-animation-iteration-count: infinite;
         -webkit-animation-timing-function: linear;
    position: absolute;
    display: inline;
    left: 65%;
    top: 39%;
    width:50%;
  }

}


.contentContacto{
  text-align: center;
  justify-content: center;
  display: flex;
  margin-left: 0% !important;
  padding: 4% !important;

}

form.contentFrm{
  text-aling:center !important;

}

.sectionTar{
  
  background-color: $bgsSection;
  min-height: 50vh;
  padding: 3%;
  img.iconTar{
    width: 100% !important;
  }

  .contCvv{
  small{
  color: $azulitoBajito;
   font-size: 2em; 
   font-family: $sofiaBold;
   letter-spacing: 2px;
   display: inline;
    position: absolute;
    left: -30px;
    top: 37%;
 }
    padding-top: 10%;
    h3, label{
      color: $white;
      
    }
    h3{
      font-size: 2.3em;
      letter-spacing: 2px;
      font-family: $sofiaBold;
    }
    label{
      margin-top: 3%;
      letter-spacing: 2px;
      font-family: $sofiaRegular;
      font-weight: lighter;
      font-size: 18px; 
    }
    div>ul{
      list-style: none;
    }

    h1.cvvGene{
      color: $azulitoBajito;
       font-size: 8em; 
       font-family: $sofiaBold;
       letter-spacing: 2px;
       margin-left: 4%;
      position: relative;
      right: 0%;
    }
  }
  
}


.flex {
  display: flex;
}

.flex > * {
  order: 0;
}

.uno {
 order: 1;
}

.dos {
 order: 2;
}

.tres {
 order: 3;
}



.sectionStores{

  background-color: $white;
  min-height: 50vh;
  padding: 3%;
  h3{
    color: $letterColor;
    font-size: 2em;
    letter-spacing: 3px;
    font-family: $sofiaRegular;
    strong{
      color:$aqua;
    }
  }
  ul{
    margin-top: 0% !important;
    list-style: none;
    li{
      float: left;
    }
  }
}

.mask2{
  margin-top: 10%;
  z-index: 1;
  background-color: transparent;
  img.mask2{
    position: absolute;
    right: 70%;
    height:20%;
    display: inline;
  }

  h2{
    color: $letterColor;
    font-size: 5em;
    font-family: sofiaBold;
    letter-spacing: 2px;

    strong{
      color: $purple;
    }
  }

  p{
    font-family: $sofiaRegular;
    letter-spacing: 2px;
    font-size: 1.3rem;
    text-align: left;
  }

  h4{
    color: $letterColor;
    font-size: 2.5em;
    font-family: $sofiaBold;
    letter-spacing: 2px;
    text-align: left !important;
    font-weight: bold;
  }

}

.sectionQueremos{
  width: 80%;
  margin-left: 20%;
  padding: 4% 0%;
  background-color: $purple;
  h3,p{
    color: $white;
  }
  h3{
    font-family: $sofiaBold;
    font-size: 2em;
    letter-spacing: 2px;
    text-align: left;
  }
  p{
    font-family: $sofiaRegular;
    letter-spacing: 2px;
    font-size: 14px;
    text-align: left;
    font-weight: lighter !important;
    width: 90%;
  }

  div.offset-sm-3{
    margin-left: 20% !important;
  }

}

.sectionEresEmp{
   padding:4% 0%;
  background: none !important;
  h2{
    color: $letterColor;
    font-size: 5em;
    font-family: sofiaBold;
    letter-spacing: 2px;
  }
  a.btnMoreInf{
    background-color: $aqua;
    color: $white;
    border-radius: 30px;
    padding: 2%;
    width: auto !important;
    font-size: 1.3em;
    font-family: $sofiaRegular;
    margin-bottom:5%;
  }

  h2.empresas{
    color: $letterColor;
    font-size: 3.5em;
    font-family: sofiaBold;
    letter-spacing: 2px;
    font-weight: bold;
  }
  a.btnMoreInfEmpresa{
     background-color: $purple;
    color: $white;
    border-radius: 30px;
    padding: 2%;
    width: auto !important;
    font-size: 1em;
    font-family: $sofiaRegular;
    margin-bottom:5%;
  }
}

.contentFrm{
z-index: 10;
  background-color: $white;
  h2{
    font-family: $sofiaBold;
    letter-spacing: 2px;
    color: $letterColor;
    font-size:2em;
    margin-top: 3%;
  }
  label{
    font-family: $sofiaBold;
  }
  .btnSubmit{
  margin-top: 5%;
    border-radius: 25px;
    min-width: 120px;
    color: $white;
    font-family:  $sofiaBold;
     background-color: $bgsSubmit;
     border: none;
  }
    input[type="text"],input[type="email"],input[type="password"], textArea {
         border: none !important; box-shadow: none; background-color: $bgsinputs !important; border-radius: 0!important;
      }


}

.bgsImgContact{
      margin: 0% !important;
      padding: 0% !important;
      img{
        width: 100%;
      }
    }




/* *************   Page privacy           ********************** */

.contentInformativaText{
  display: flex;
}

.customPadding{
  padding-left: 8% !important;
}

.contCabeceraInfo {
    background-image: url("../img/cabeceraInformativa.png"), url("../img/cabeceraInformativa.png") !important;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 30vh;
    position: relative;
    background-size: 200%;
}

 .page-privacidad{

        margin-right: 0px !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
          h1{
            font-family: $sofiaBold;
            font-size: 2.5em;
            letter-spacing: 2px;
            margin-left: 2%;
          }

          p{

            font-family: $sofiaRegular;
            font-size: 1em;
            letter-spacing: 2px;
          }

          img{
            text-align: center !important;
            margin: 10% 0%;
            width: 100%;
          }
          label{
              font-style: italic;
              font-weight: lighter;
              letter-spacing: 1px;
              font-family: $sofiaRegular;
              margin-left: 2% !important;

          }
       }

 .maskLegales{
    background-image:  url("#{$imgR}curva5.png"),
                       url("#{$imgR}curva5.png") !important;
    background-color: transparent;
    background-repeat: no-repeat;
    height: 60vh;
    position: absolute;
    background-size: 40%;
    background-position-y: 155%;
    width: 100%;
    background-position-x: 100% !important;

 }

 .maskEmpresas{

    background-image:  url("#{$imgR}empresas/viaje.png"),
                       url("#{$imgR}empresas/viaje.png") !important;
    background-color: transparent;
    background-repeat: no-repeat;
    height: 60vh;
    position: absolute;
    background-size: 40%;
    background-position-y: 155%;
    width: 50%;
    background-position-x: 100% !important;
 }




 

  .maskLegalesBottom{
    background-image:  url("#{$imgR}curva0.png"),
                       url("#{$imgR}curva0.png") !important;
    background-color: transparent;
    background-repeat: no-repeat;
    height: 60vh;
position: absolute;
background-size: 100%;
background-position-y: 75%;
width: 100%;
background-position-x: 88%;
left: 35%;
 }




 

/* *************  end Page privacy           ********************** */



/* ************** section empresas  *************************** */


.sectionQueremos.empresas{
  width: 100% !important;
  margin-left: 0% !important;
  padding: 4% 0%;
  background-color: $purple;
  h3,p{
    color: $white;
  }
  h3{
    font-family: $sofiaBold;
    font-size: 3.5em;
    letter-spacing: 2px;
    text-align: left;
  }
  p{
    font-family: $sofiaRegular;
    letter-spacing: 2px;
    font-size: 14px;
    text-align: left;
    font-weight: lighter !important;
    width: 90%;
  }

  div.offset-sm-3{
    margin-left: 20% !important;
  }

}

.mask2.empresas{
  margin-top: -2% !important;
  z-index: 1;
  background-color: transparent;
  img.mask2{
    position: absolute;
left: 56%;
height: 20% !important;
display: inline;
bottom: 25%;
  }

  h2{
    color: $letterColor;
    font-size: 3.5em;
    font-family: sofiaBold;
    letter-spacing: 2px;

    strong{
      color: $purple;
    }
  }

  p{
    font-family: $sofiaRegular;
    letter-spacing: 2px;
    font-size: 1.3rem;
    text-align: left;
  }

  h4{
    color: $letterColor;
    font-size: 2.5em;
    font-family: $sofiaBold;
    letter-spacing: 2px;
    text-align: left !important;
    font-weight: bold;
  }

}


.listEmpresas{
  margin-left: -5% !important;
  list-style: none;
  li{
    margin: 3% 0% !important;
    color: white;
    font-family: $sofiaRegular; 
    font-size: 1.2rem;
  }
}

p span, p ul {
  display: block;
}

.listTarEmpresas{
  list-style: none;
  color: $aqua;
}


.titleCash{
  color: white;
  font-size: 3.1em;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 7% 0% !important;
  font-family: $sofiaBold;
}
.titleNomina{
  color: $letterColor;
  font-size: 3.5em;
  letter-spaciing: 3px;
  font-weight: bold;
  font-family: $sofiaBold;
}

.parCash{
  color: white;
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 1.2rem;
  font-family: $sofiaRegular;

}

.parNomina{
  color: $letterColor;
letter-spacing: 2px;
font-weight: lighter;
font-size: 1.2rem;
font-family: "sofiaRegular", Helvetica, Arial, sans-serif;
margin: 5% 0%;
}

.parNomina2{
  color: $bgsSubmit !important;
  font-size: 1.5rem;
  font-weight: bold;
}

.coloBlack{
  li{
    color: $letterColor !important;
    float: inherit !important;
  }
}

.bgsSectionEmpresas{
  padding-top: 9%;
  background-image:  url("#{$imgR}/empresas/icon-empresas.png"),
                     url("#{$imgR}/empresas/icon-empresas.png") !important;
  background-color: transparent;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: right;
  width: 110%;
  height: 95vh;
  background-position-y: 100%;
  background-position-x: 151%;

  h1{
    font-family: $sofiaBold;
    font-size: 3.4em;
    letter-spacing: 3px;
    font-weight: revert;
  }
  label,p{
    font-family: $sofiaRegular;
    font-size: 12px;
  }
  .noMargin{
    margin:0%;
    padding: 0%;
    hr.hr{
      border-top: 5px solid $aqua;
      width: 100%;
    }
    label{
      font-size: 1.3em !important;
      letter-spacing: 1px;
      font-weight: lighter;
    }
  }

  ul{
    list-style: none;
    li{
        float: left !important;
        margin: 0 -3% !important;
        padding-top: 4%;
      img{
        width: 70%  !important;
        position: inherent !important;
      }
    }
  }
  

  img.celular{
    width: 150% !important;
    position: absolute;
    right: -50%;
  }

}

.contentICon{
      margin: 0%;
    padding: 0%;
    text-align: center !important;
    display: flex;
    justify-content: center !important;
}

.columnSection2.empresas{
  height: auto;
  padding-bottom: 5%;
    div> div>img.iconSection{
      width: 100px;
      margin-bottom: 2%;
    }
    ul{
      text-aling: center !important;
      list-style: none;
      h3{
        margin-top: 3%;
        color: #2E3649;
        font-size: 1.4em;
        letter-spacing: 2px;
        font-family: $sofiaRegular;
        font-weight: 900 !important;
        white-space: pre-wrap;
      }
      label{
        margin-top: 2%;
        font-size: 15px;
        text-aling: center !important;
        color: #2E3649;
        letter-spacing: 0px;
        font-weight: lighter !important;
        font-family: $sofiaRegular;
        width: 90%;
      }
    }
  }

.mask{
  margin-top: -10%;
  z-index: 1;
  background-color: transparent;
  img.mask{
  animation: anim1 2s ease-in-out alternate infinite;
     -webkit-animation: anim1 2s ease-in-out alternate infinite;
         transform-origin: 0px 60px;
         animation-name: bola1;
         animation-duration: 8000ms;
         animation-iteration-count: infinite;
         animation-timing-function: linear;
   
         -webkit-transform-origin: 0px 60px;
         -webkit-animation-name: bola1;
         -webkit-animation-duration: 4000ms;
         -webkit-animation-iteration-count: infinite;
         -webkit-animation-timing-function: linear;
    position: absolute;
    display: inline;
    left: 65%;
    top: 39%;
    width:50%;
  }

}
/* ************** end empresas ******************************** */

.hero-sec {
  width: 100%; height: 400px; @include position(relative, null null null null); padding: 0; margin: 0; background-attachment: local; background-position: center; background-repeat: no-repeat; background-size: cover; overflow: hidden;
  & .contHero {
    z-index: 4; @include position(absolute, 50% null null 0); @include transform(translate(0, -50%)); width: 100%; height: auto; padding: 0; margin: 0; @include box-sizing(border-box);
    opacity: 1; @include transition(opacity 1.5s ease 0.55s, transform 0.5s ease-out 0.45s, filter 0.5s ease 0.45s);
    & hr {
      border-top: 1.5px solid $white;
    }
    & .title-hero {
      color: $white; @include fluid-type(23px, 40px, 320px, 1200px); margin: 0; padding: 0; text-align: left;
    }
    & .desc-hero {
      width: 100%; height: auto; padding: 0; margin: 0 auto 20px 0; position: relative; @include box-sizing(border-box); color: $white; text-align: left; font-family: $hlight; @include fluid-type(13px, 20px, 320px, 1200px); text-transform: uppercase;
      & p {
        color: $white; margin: 0; padding: 0; font-family: $hlight;
      }
    }
    & .btn-hero {
      width: 100%; height: auto; padding:0 ; margin: 0; position: relative; @include box-sizing(border-box); text-align: left;
    }
  }
  & .overlayHero {
    @extend .overlayClassAbs; z-index: 1; background-color: rgba($col1, 0.15);
  }
  & .header-title {
    width: 100%; height: 100%; @include position(absolute, 0 0 null null); z-index: 2; background-color: $col3; @include transition(all 0.25s);
  }
  & .scrollNext {
    z-index: 5; @include position(absolute, null null 10px 50%); @include transform(translateX(-50%)); z-index: 3; margin: 0; padding: 60px 0 0;
    & span {
      @include position(absolute, 0 null null 30%); width: 30px; height: 50px; margin-left: -15px; border: 1px solid $white; border-radius: 50px; @include box-sizing(border-box);
      &:before {
        @include position(absolute, 10px null null 50%); content: ''; width: 6px; height: 6px; margin-left: -3px; background-color: $white; border-radius: 100%; -webkit-animation: sdb10 2s infinite; animation: sdb10 2s infinite; @include box-sizing(border-box);
      }
    }
  }
  @media all and (min-width: 768px) {
    height: 450px;
    & .contHero {
      & .desc-hero {
        width: 70%;
      }
    }
    & .scrollNext {
      bottom: 60px;
    }
  }
  @media all and (min-width: 981px) {
    background-attachment: fixed;
  }
  @media all and (min-width: 1024px) {
    height: 500px;
    & .contHero {
      & .desc-hero {
        width: 50%;
      }
    }
  }
  @media all and (min-width: 1200px) {
    height: 600px;
  }
  body.is-preload & {
    > .contHero {
      @include transform(translate(-0.5em, -50%)); @include filter(blur(0.125em));
		}
	}
}

// Utilidades
.bannerInt {
  width: 100%; height: 300px; @include position(relative, null null null null); padding: 0; margin: 0; background-attachment: local; background-position: center; background-repeat: no-repeat; background-size: cover; overflow: hidden;
  & hr {
    border-top: 1.5px solid $white;
  }
  & .titleInt {
    width: 100%; height: auto; padding: 0 0; margin: 0 0; @include position(absolute, 50% null null 0); @include transform(translate(0, -50%));
    opacity: 1; @include transition(opacity 1.5s ease 0.55s, transform 0.5s ease-out 0.45s, filter 0.5s ease 0.45s); z-index: 2;
    h1, h2, h3, h4, h5, h6 {
      margin: 0 0 10px 0; padding: 0; text-align: left; color: $white; text-transform: uppercase; @include fluid-type(23px, 40px, 320px, 1200px);
    }
    & .desc-hero-int {
      width: 100%; height: auto; padding: 0; margin: 0 auto 20px 0; position: relative; @include box-sizing(border-box); color: $white; text-align: left; font-weight: 300; @include fluid-type(13px, 18px, 320px, 1200px);
      & p {
        color: $white; margin: 0; padding: 0; font-weight: 300;
      }
    }
  }
  & .overlayHeroInt {
    @extend .overlayClassAbs; z-index: 1; background-color: rgba($col1, 0.15);
  }
  @media all and (min-width: 768px) {
    height: 345px;
    & .titleInt {
      & .desc-hero-int {
        width: 70%;
      }
    }
  }
  @media all and (min-width: 981px) {
    background-attachment: fixed; background-size: initial;
  }
  @media all and (min-width: 1024px) {
    // height: 410px;
    height: 350px;
    & .titleInt {
      & .desc-hero-int {
        width: 50%;
      }
    }
  }
  @media all and (min-width: 1440px) {
    background-size: cover; height: 410px;
  }
  body.is-preload & {
    > .titleInt {
      @include transform(translate(-0.5em, -50%)); @include filter(blur(0.125em));
		}
	}
}


// Provisional
.elementsCont {
  width: 100%; height: auto; padding: 50px 0; margin: 0;
}

.gridServicios {
  width: 100%; max-width: 1440px; height: auto; padding: 0 5px; margin: 20px auto 20px; position: relative; *zoom: 1; @include box-sizing(border-box); @include transform(translateY(-10px));
  &__listado {
    @include displayFlex(flex, row, center, center, wrap); padding: 0; position: relative; margin-left: -5px; margin-right: -5px;
  }
  &__colsList {
    @include flex(0 0 20%); max-width: 16.66666%; width: 100%; min-height: 1px; padding-right: 5px; padding-left: 5px;
    & .slick-current {
      & .boxThumbServicios__icono {
        @include transform(translateY(0));
        &--circle {
          border: 1px solid $col1;
        }
      }
    }
  }
  @media all and (min-width: 640px) {
    margin: 0 auto 35px;
  }
  @media all and (min-width: 768px) {
    margin: 0 auto 45px;
    &__colsList {
      & .slick-current {
        & .boxThumbServicios__icono {
          @include transform(translateY(-100%)); opacity: 0;
        }
        & .boxThumbServicios__titulo {
          @include transform(translateY(0%)); opacity: 1;
        }
        &[data-numbre-box="0"] {
          background-color: $col1; border-bottom: 0.5px solid $col1;
          & .boxThumbServicios__icono {
            &--circle {
              border: 1px solid $col1;
            }
          }
          &:before {
            background-color: $col1;
          }
        }
        &[data-numbre-box="1"] {
          background-color: $col5; border-bottom: 0.5px solid $col5;
          & .boxThumbServicios__icono {
            &--circle {
              border: 1px solid $col5;
            }
          }
          &:before {
            background-color: $col5;
          }
        }
        &[data-numbre-box="2"] {
          background-color: $col9; border-bottom: 0.5px solid $col9;
          & .boxThumbServicios__icono {
            &--circle {
              border: 1px solid $col9;
            }
          }
          &:before {
            background-color: $col9;
          }
        }
        &[data-numbre-box="3"] {
          background-color: $col13; border-bottom: 0.5px solid $col13;
          & .boxThumbServicios__icono {
            &--circle {
              border: 1px solid $col13;
            }
          }
          &:before {
            background-color: $col13;
          }
        }
        &[data-numbre-box="4"] {
          background-color: $col10; border-bottom: 0.5px solid $col10;
          & .boxThumbServicios__icono {
            &--circle {
              border: 1px solid $col10;
            }
          }
          &:before {
            background-color: $col10;
          }
        }
        &[data-numbre-box="5"] {
          background-color: $col14; border-bottom: 0.5px solid $col14;
          & .boxThumbServicios__icono {
            &--circle {
              border: 1px solid $col14;
            }
          }
          &:before {
            background-color: $col14;
          }
        }
      }
    }
  }
  @media all and (min-width: 1024px) {
    margin: 0 auto 60px;
  }
}

.slideServicios {
  z-index: 2; position: relative; width: 100%; height: auto; padding: 0 0 30px; margin: 0; @include box-sizing(border-box); background-color: $white;
  & .title-servicios {
    padding: 0; margin: 0 0 30px; color: $col7; text-transform: uppercase; text-align: center; @include fluid-type(20px, 34px, 320px, 1200px);
  }
  @media all and (min-width: 768px) {
    padding: 0 0 90px;
    & .title-servicios {
      margin: 0 0 45px;
    }
  }
  @media all and (min-width: 1024px) {
    padding: 0 0 135px;
    & .title-servicios {
      margin: 0 0 60px;
    }
  }
}
.contSlideServicios {
  z-index: 2; position: relative; width: 100%; max-width: 300px; height: auto; padding: 0; margin: 0 auto; @include box-sizing(border-box); overflow: hidden;
  & .sliderWrp {
    position: relative;
  }
  @media all and (min-width: 366px) {
    max-width: 336px;
  }
  @media all and (min-width: 480px) {
    max-width: 450px;
  }
  @media all and (min-width: 576px) {
    max-width: 540px;
  }
  @media all and (min-width: 768px) {
    max-width: 720px;
  }
  @media all and (min-width: 992px) {
    max-width: 960px;
  }
  @media all and (min-width: 1200px) {
    max-width: 1140px;
  }
}

.contNewsletter {
  width: 100%; height: auto; @include position(relative, null null null null); padding: 40px 0; margin: 0; @include box-sizing(border-box); background-attachment: local; background-position: center; background-repeat: no-repeat; background-size: cover; overflow: hidden;
  &__desc {
    width: 100%; height: auto; padding: 0; margin: 0; position: relative; @include box-sizing(border-box);
    & .newsTestDesc {
      width: 100%; height: auto; padding: 0; margin: 0; position: relative; @include box-sizing(border-box); text-align: center; color: $white;
      & p {
        font-weight: 400; color: $white;
      }
    }
    & .titleGen {
      padding: 0 0 10px; margin: 0 0 15px;
      &__head {
        color: $white!important; text-transform: inherit!important; @include fluid-type(18px, 28px, 320px, 1200px);
      }
      &:after {
        border-bottom: 1px solid $white!important;
      }
    }
  }
  &__form {
    width: 100%; height: auto; padding: 0; margin: 0; position: relative; @include box-sizing(border-box);
    form {
      margin: 15px 0 0; padding: 0;
      & .animatedField  {
        & input[type="email"] {
          height: 52px; line-height: 52px; border: 0!important;
        }
        & label {
          color: $col1!important;
        }
      }
    }
    & .btnGen {
      margin: 0; height: 52px; line-height: 52px; margin: 1px 0 0;
    }
  }
  @media all and (min-width: 576px) {
    padding: 50px 0;
  }
  @media all and (min-width: 768px) {
    padding: 80px 0;
  }
  @media all and (min-width: 981px) {
    background-attachment: fixed;
  }
  @media all and (min-width: 1024px) {
    padding: 100px 0;
  }
}

// Contacto Page 
.contContact {
  width: 100%; height: auto; @include position(relative, null null null null); padding: 50px 0 40px; margin: 0; @include box-sizing(border-box); background-color: $white;
  @media all and (min-width: 768px) {
    padding: 90px 0 50px;
  }
}

// Full page Generic
.contGeneric {
  width: 100%; height: auto; @include position(relative, null null null null); padding: 50px 0 40px; margin: 0; @include box-sizing(border-box); background-color: $white;
  & .rte {
    width: 100%; height: auto; padding: 0; margin: 20px 0 0; position: relative; @include box-sizing(border-box); color: $col12;
    & p {
      font-family: $hlight;
    }
    & h1, & h2, & h3, & h4, & h5, & h6 {
      color: $col7;
    }
    & ul, & ol {
      list-style-type: none; padding: 0 0 0 24px; margin: 0 0 20px; @include box-sizing(border-box);
      & li {
        list-style-type: none; position: relative; margin: 0 0 3px; font-family: $hlight;
        &:before {
          content: ''; @include position(absolute, 8px null null -15px); width: 6px; height: 6px; background-color: $col5; border-radius: 50%;
        }
      }
    }
    & a {
      font-family: $hmedium;
    }
    & strong, & b {
      font-family: $hmedium;
    }
    img.alignright {float:right; margin:0 0 1em 1em}
    img.alignleft {float:left; margin:0 1em 1em 0}
    img.aligncenter {display: block; margin-left: auto; margin-right: auto}
    a img.alignright {float:right; margin:0 0 1em 1em}
    a img.alignleft {float:left; margin:0 1em 1em 0}
    a img.aligncenter {display: block; margin-left: auto; margin-right: auto}
  }





  @media all and (min-width: 992px) {
    padding: 80px 0;
    & .rte {
      margin: 50px 0 0;
    }
  }
}

//Single page section
.contSingelPage {
  width: 100%; height: auto; @include position(relative, null null null null); padding: 25px 0; margin: 0; @include box-sizing(border-box); background-color: $col1;
  & .rte {
    width: 100%; height: auto; padding: 20px 0 20px; margin: 0; position: relative; @include box-sizing(border-box); color: $white;
    & h1, & h2, & h3, & h4, & h5, & h6 {
      color: $white;
    }
    & p {
      font-family: $hlight;
      & a {
        font-family: $hmedium;
      }
    }
    & ul, & ol {
      list-style-type: none; padding: 0 0 0 24px; margin: 0 0 20px; @include box-sizing(border-box);
      & li {
        list-style-type: none; position: relative; margin: 0 0 3px; font-family: $hlight;
        &:before {
          content: ''; @include position(absolute, 8px null null -15px); width: 6px; height: 6px; background-color: $white; border-radius: 50%;
        }
      }
    }
    & strong, & b {
      font-family: $hmedium;
    }
  }
  & .btnRte {
    width: 100%; height: auto; padding: 0; margin: 15px 0 10px; position: relative; @include box-sizing(border-box); text-align: center;
    & a {
      margin: 0;
    }
  }
  @media all and (min-width: 768px) {
    padding: 40px 0;
    & .rte {
      padding: 30px 10px 20px;
    }
  }
}
.imageSingle {
  width: 250px; height: 250px; padding: 0; margin: 0 auto 30px; position: relative; background-color: $white; box-shadow: 2px 6px 10px rgba($black, 0.30); border-radius: 50%;
  & > img {
    @include position(absolute, 50% null null 50%); @include transform(translate(-50%, -50%)); display: block; width: 100%; max-width: 155px; height: auto; padding: 0; margin: 0;
  }
  @media all and (min-width: 576px) {
    width: 290px; height: 290px;
    & > img {
      max-width: 175px;
    }
  }
  @media all and (min-width: 768px) {
    margin: 0 auto;





  }
  @media all and (min-width: 992px) {
    width: 320px; height: 320px;
    & > img {
      max-width: 190px;
    }
  }
  @media all and (min-width: 1200px) {
    width: 360px; height: 360px;
    & > img {
      max-width: 220px;
    }
  }
}
.listSingle {
  border-bottom: 1px solid rgba($col4, 0.85);
  & .nav-item {
    width: 50%;
    & .nav-link {
      @include transition(color 300ms ease);border: none!important; border-radius: 0!important; text-align: center; font-weight: 500; color: $col4; background-color: transparent; position: relative;
      &:after {
        @include position(absolute, null null 0 0); @include transition(height 0.45s ease-in-out 0.20s); content: ''; width: 100%; height: 0; background-color: $white;
      }
      &:hover,
      &.active {
        color: $white;
        &:after {
          height: 4px;
        }
      }
    }
  }
}

// Quienes Somos Page Section
.contAboutUs {
  width: 100%; height: auto; @include position(relative, null null null null); padding: 25px 0; margin: 0; @include box-sizing(border-box); background-color: $white; background-image: url('#{$imgR}imgprueba/equality_bg_iso.svg'); background-position: -40px calc(100% + 50px); background-repeat: no-repeat; overflow: hidden; background-size: 700px;
  & hr {
    margin-top: 40px; margin-bottom: 40px;
  }
  & .descAboutBox {
    width: 100%; height: auto; padding: 0 0 20px; margin: 0; position: relative; @include box-sizing(border-box); color: $col12;
    & h1, & h2, & h3, & h4, & h5, & h6 {
      color: $col12;
    }
    & p {
      font-family: $hlight; color: $col12;
      & a {
        font-family: $hmedium;
      }
    }
    & ul, & ol {
      list-style-type: none; padding: 0 0 0 24px; margin: 0 0 20px; @include box-sizing(border-box);
      & li {
        list-style-type: none; position: relative; margin: 0 0 3px; font-family: $hlight; color: $col1;
        &:before {
          content: ''; @include position(absolute, 8px null null -15px); width: 6px; height: 6px; background-color: $col5; border-radius: 50%;
        }
      }
    }
    & strong, & b {
      font-weight: 700;
    }
  }
  @media all and (min-width: 768px) {
    padding: 40px 0;
  }
}
.bxAboutCont {
  width: 100%; height: auto; padding: 25px 0; margin: 0 0 20px; position: relative; background-color: $white; box-shadow: 2px 6px 10px rgba($black, 0.20); @include box-sizing(border-box);
  & > img {
    display: block; width: 100%; height: auto; padding: 0; margin: 0 auto; border: none; max-width: 450px;
  }
  @media all and (min-width: 768px) {
    margin: 0;
  }
}
.bxAboutContFull {
  width: 100%; height: auto; padding: 0; margin: 0 0 20px; position: relative; background-color: $white; box-shadow: 2px 6px 10px rgba($black, 0.20); @include box-sizing(border-box);
  & > img {
    display: block; width: 100%; height: auto; padding: 0; margin: 0 auto; border: none;
  }
  @media all and (min-width: 768px) {
    margin: 0;
  }
}
.circleAbout {
  width: 100%; height: auto; padding: 0; margin: 30px 0 0; position: relative; @include box-sizing(border-box);
  & > img {
    display: block; width: 100%; height: auto; padding: 0; margin: 0 auto; border: none; max-width: 555px;
  }
}

// Archive Section
.contArchive {
  width: 100%; height: auto; padding: 50px 0 0; margin: 0; position: relative; @include box-sizing(border-box);
  @media all and (min-width: 768px) {
    padding: 70px 0 0;
  }
}
.bxAboutContArch {
    & > img {
      max-width: 350px!important;
    }
  }

// Error Section
.error-404 {
  width: 100%; height: auto; @include position(relative, null null null null); padding: 50px 0; margin: 0; @include box-sizing(border-box); background-color: $white; background-image: url('#{$imgR}imgprueba/equality_bg_iso.svg'); background-position: -40px calc(100% + 50px); background-repeat: no-repeat; overflow: hidden; background-size: 700px;
  & .notFound {
    & .icon404 {
      width: 100%; height: auto; padding: 0; margin: 0 0 30px; position: relative; @include box-sizing(border-box);
      & > img {
        display: block; width: 100%; height: auto; padding: 0; margin: 0 auto; border: none; max-width: 300px;
      }
    }
    & .btnGen404 {
      width: 100%; height: auto; padding: 0; margin: 30px 0 0; @include box-sizing(border-box); text-align: center;
    }
  }
  @media all and (min-width: 768px) {
    padding: 80px 0;
  }
  // @media all and (min-width: 1024) {
  //   height: 100vh;
  // }
}







  /* estilos desktop */
  @media all and (min-width: 768px) {

     .maskEmpresas{

        background-image:  url("#{$imgR}empresas/viaje.png"),
                           url("#{$imgR}empresas/viaje.png") !important;
        background-color: transparent;
        background-repeat: no-repeat;
        height: 100%;
        position: absolute;
        background-size: 55%;
        background-position-y: 0%;
        width: 100%;
        background-position-x: 140% !important;
        z-index: 5;
     }

    .contEm{
        h3{
          font-size: 2em;
          font-family: $sofiaBold;
          text-align: center;
        }
        label{
          font-size: 1rem;
          font-family: $sofiaRegular;
          text-align: center;
        }
    }
    .maskTerminos{
      background-image:  url("#{$imgR}curva7.png"),
                         url("#{$imgR}curva7.png") !important;
      background-color: transparent;
      background-repeat: no-repeat;
      height: 90vh;
      position: absolute;
      background-size: 36%;
      background-position-y: 30%;
      width: 100%;
      background-position-x: 100% !important;

   }

    .maskLegalesMiddle{
    background-image:  url("#{$imgR}curva6.png"),
                       url("#{$imgR}curva6.png") !important;
    background-color: transparent;
    background-repeat: no-repeat;
    height: 100vh;
    position: absolute;
    background-size: 30%;
    background-position-y: 70%;
    width: 100%;
    background-position-x: -15% !important;

 }

 .maskLegalesBottom{
    background-image:  url("#{$imgR}curva0.png"),
                       url("#{$imgR}curva0.png") !important;
    background-color: transparent;
    background-repeat: no-repeat;
    height: 40vh;
    position: absolute;
    background-size: 35%;
    background-position-y: 35%;
    width: 100%;
    background-position-x: 115% !important;
    z-index: 10 !important;
    margin-bottom: 5%;
    left: inherit;
 }
    .page-privacidad{

  margin-right: 0px !important;
      padding-right: 0px !important;
      padding-left: 0px !important;
        h1{
          font-family: $sofiaBold;
          font-size: 3em;
          letter-spacing: 2px;
        }

        p{

          font-family: $sofiaRegular;
          font-size: 1em;
          letter-spacing: 2px;
        }

        img{
          text-align: center;
          margin: 5% 0%;
          width: 70%;
        }
        label{
            font-style: italic;
            font-weight: lighter;
            letter-spacing: 1px;
            font-family: $sofiaRegular;

        }
     }

    .customPadding{
      padding-left: inherit !important;
    }
    
    .preSection{

      background-size: 31%;
      background-repeat: no-repeat;
      background-position: left;
      height: 95vh;
      background-position-y: 100%;
      background-position-x: -10%;

        z-index: 2;
        position: relative;
    }

    .bgsSection1 {
    padding-left: inherit !important;
    padding-top: 9%;
    background-image:  url("#{$imgR}curva0.png"),
                       url("#{$imgR}curva0.png") !important;
    background-color: transparent;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;
    width: 110%;
    height: 95vh;
    background-position-y: 100%;
    background-position-x: 110%;
        height: 110vh;
    }

    .bgsSection1{
      
      h1{
        font-size: 3.4em !important;
        text-align: left;
        width: 100%;
        padding-top: 0%;
      }
      label,p{
        font-family: $sofiaRegular;  
        font-size: 12px;
      }
      .noMargin{
        margin:0%;
        padding: 0%;
        hr.hr{
          border-top: 5px solid $aqua;
          width: 100%;
        }
        label{
          font-size: 1.3em !important;
          letter-spacing: 1px;
          font-weight: lighter;
          text-align: left !important;
          padding: 0% !important;
        }
      }

      ul{
        list-style: none;
        margin-left: 0;
        li{
            float: left !important;
            margin: 0 -3% !important;
            padding-top: 4%;
          img{
            width: 70%  !important;
            position: inherent !important;
          }
        }
      }
      

      img.celular{
        width: 150% !important;
        position: absolute;
        right: -22%;
        z-index: inherit;
      }

    }


    .section2{
        background: rgba(255, 255, 255, 0.8);
        border-radius: 25px;
        padding: 3% 1%;
        -webkit-box-shadow: 0px 1px 25px 4px #b0aeb0;
        box-shadow: 0px 1px 25px 4px #b0aeb0;
        height: 50vh !important;
        margin-left: 0% !important;
        text-aling : left;

      }
    .columnSection2{
      .row{
        .col-sm-3{
          text-align: left !important;
          margin: 0% !important;
        }
      }
        height: auto;
        padding-bottom: 5%;
          div> div>img.iconSection{
            width: 100%;
          }
          ul{
            list-style: none;
            h3{
              color: $purple;
              font-size: 1.5em !important;
              letter-spacing: 2px;
              font-family: $sofiaRegular;
              font-weith: bold;
              white-space: pre-wrap;
              text-align: left !important;
            }
            label{
              color: $letterColor;
            }
          }
        }

        .listSociales{
          margin-left: -15% ;
        }




        .bgsImgContact{
          margin: 0% !important;
          padding: 0% !important;
          img{
            width: 110%;
          }
        }


        .sectionTar{
  
          background-color: $bgsSection;
          min-height: 50vh;
          padding: 3%;
          img.iconTar{
            width: 100% !important;
          }

          .contCvv{
          small{
          color: $azulitoBajito;
           font-size: 2em; 
           font-family: $sofiaBold;
           letter-spacing: 2px;
           display: inline;
            position: absolute;
            left: -30px;
            top: 37%;
         }
            padding-top: 10%;
            h3, label{
              color: $white;
              
            }
            h3{
              font-size: 2.3em;
              letter-spacing: 2px;
              font-family: $sofiaBold;
            }
            label{
              margin-top: 3%;
              letter-spacing: 2px;
              font-family: $sofiaRegular;
              font-weight: lighter;
              font-size: 18px; 
            }
            div>ul{
              list-style: none;
            }

            h1.cvvGene{
              color: $azulitoBajito;
               font-size: 8em; 
               font-family: $sofiaBold;
               letter-spacing: 2px;
               margin-left: 4%;
              position: absolute;
              right: 0%;
            }
          }
          
        }

        .uno {
         order: 2;
        }

        .dos {
         order: 3;
        }

        .tres {
         order: 1;
        }



        .contCabeceraInfo{
            background-image:  url("#{$imgR}cabeceraInformativa.png"),
                               url("#{$imgR}cabeceraInformativa.png") !important;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: unset;
            height: 60vh;
            position: relative;
            background-size: 100%;
          }



  }

/* end estilos desktop */


@media all and (min-width: 1200px) {
    
    .bgsSection1 {
        height: 105vh;
    }


   .listSociales{
          margin-left: -12% !important;
        }

        

 }

