// ===== BOX

.posRela {
  position: relative;
}
.curve {
  @include position(absolute, 0 null null null); padding: 0; margin: 0; z-index: 1000; background-position: center center; background-repeat: no-repeat; background-size: cover; width: 200px; height: 280px; background-image: url('#{$imgR}curva2.png');
  &__topLeft {
    left: 0; @include transform(translate(-80px, -360px));
  }
  &__topRight {
    right: 0; @include transform(translate(120px, -320px));
  }
  @media all and (min-width: 640px) {
    width: 250px; height: 350px;
    &__topLeft {
    @include transform(translate(-140px, -316px));
    }
    &__topRight {
      @include transform(translate(100px, -335px));
    }
  }
  @media all and (min-width: 768px) {
    &__topRight {
      @include transform(translate(95px, -250px));
    }
  }
  @media all and (min-width: 992px) {
    width: 300px; height: 420px;
    &__topLeft {
    @include transform(translate(-190px, -345px));
    }
    &__topRight {
      @include transform(translate(120px, -320px));
    }
  }
  @media all and (min-width: 1200px) {
    width: 350px; height: 490px;
    &__topLeft {
    @include transform(translate(-200px, -395px));
    }
  }
  @media all and (min-width: 1366px) {
    &__topLeft {
    @include transform(translate(-220px, -315px));
    }
  }
}

.alm-btn-wrap {
  width: 100%; height: auto; padding: 0; margin: 60px 0 0; position: relative; @include box-sizing(border-box);
}
.ctAjax__btn {
  display: block; width: 150px; height: 40px; border-radius: 20px; line-height: 35px; text-align: center; border: 2px solid #24238a; background-color: transparent; @include box-sizing(border-box); margin: 0 auto; padding: 0; position: relative; color: #24238a; font-size: rem(15px); cursor: pointer;
  &:after {
    content: '\f078'; font-family: 'fontAwesome'; margin-left: 8px;
  }
  &:disabled {
    opacity: 0.35; cursor: none; pointer-events: none;
  }
}

.blogSec {
  width: 100%; height: auto; padding: 0; margin: 150px 0 80px; @include box-sizing(border-box); position: relative;
  &__main {
    position: relative;
  }
  &__title {
    margin: 0 0 30px; padding: 0; font-family: sofiaBold; @include fluid-type(22px, 60px, 320px, 1200px); color: $col2;
    @media all and (min-width: 640px) {
      margin: 0 0 50px;
    }
    @media all and (min-width: 768px) {
      margin: 0 0 70px;
    }
    @media all and (min-width: 1200px) {
      margin: 0 0 80px;
    }
  }
  &__hr {
    border-top: 2px solid #8B90A3; margin-top: 50px; margin-bottom: 50px;
  }
}
.blogSingle {
  width: 100%; height: auto; padding: 0; margin: 120px 0 0; @include box-sizing(border-box); position: relative;
  &__cover {
    position: relative; width: 100%; height: 220px; margin: 0 auto; padding: 0; overflow: hidden; @include box-sizing(border-box); z-index: 2;
    & img {
      display: block; width: 100%; height: 100%; padding: 0; margin: 0; object-fit: cover; font-family: "object-fit: cover"; position: relative; @include transform(scale(1.0)); @include transition(transform 900ms ease-in-out);
    }
    @media all and (min-width: 768px) {
      height: 320px;
    }
  }
  &__title {
    @include fluid-type(20px, 55px, 320px, 1200px); font-family: sofiaBold; margin: 0 0 20px; padding: 0; line-height: 1; color: $col2;
  }
  &__date {
    margin: 0 0 20px; padding: 0; @include fluid-type(12px, 14px, 320px, 1200px); line-height: 1; color: $col2; display: block;
  }
  &__descSingle {
    position: relative; width: 100%; margin: 0; padding: 30px 0 40px; overflow: hidden; z-index: 1;
    & p {
      margin: 0 0 16px; padding: 0; color: $col2; line-height: 1.2; font-family: sofiaRegular; @include fluid-type(13px, 16px, 320px, 1200px);
    }
    & h1, & h2, & h3, & h4, & h5, & h6 {
      color: $col2; line-height: 1.2; font-family: sofiaBold;
    }
    & ul, & ol {
      list-style-type: none; padding: 0 0 0 24px; margin: 0 0 20px; @include box-sizing(border-box);
      & li {
        list-style-type: none; position: relative; margin: 0 0 3px; line-height: 1.2; color: $col2; font-family: sofiaRegular; @include fluid-type(13px, 16px, 320px, 1200px);
        &:before {
          content: ''; @include position(absolute, 8px null null -15px); width: 6px; height: 6px; background-color: $aqua; border-radius: 50%;
        }
      }
    }
    & a {
      text-decoration: underline;
    }
    & strong, & b {
      font-family: $sofiaBold;
    }
    img.alignright {float:right; margin:0 0 1em 1em;max-width:100%;height:auto;}
    img.alignleft {float:left; margin:0 1em 1em 0;max-width:100%;height:auto;}
    img.aligncenter {display: block; margin-left: auto; margin-right: auto;margin-bottom:rem(16px);max-width:100%;height:auto;}
    a img.alignright {float:right; margin:0 0 1em 1em;max-width:100%;height:auto;}
    a img.alignleft {float:left; margin:0 1em 1em 0;max-width:100%;height:auto;}
    a img.aligncenter {display: block; margin-left: auto; margin-right: auto;max-width:100%;height:auto;}
    &:before, &:after {
      content: ''; @include position(absolute, null null null null); padding: 0; margin: 0; z-index: 2; background-position: center center; background-repeat: no-repeat; background-size: cover;
    }
    &:before {
      top: 50%; left: 0; @include transform(translate(-80%, -50%)); width: 600px; height: 600px; background-image: url('#{$imgR}curva6.png');
    }
    &:after {
      top: -290px; right: 20px; @include transform(translate(0, 0)); width: 400px; height: 400px; background-image: url('#{$imgR}curva5.png');
    }
    @media all and (min-width: 768px) {
      padding: 60px 0 80px;
      &:after {
        top: -255px;
      }
    }
    @media all and (min-width: 1200px) {
      &:before {
        @include transform(translate(-60%, -50%));
      }
    }
  }
}

.mainBoxBlog {
  width: 100%; height: auto; padding: 0; margin: 0; position: relative; @include displayFlex(flex, row, center, flex-start, wrap);
  &__image {
    width: 100%; height: 200px; @include box-sizing(border-box); padding: 0; margin: 0 0 5px; position: relative; overflow: hidden;
    & img {
      display: block; width: 100%; height: 100%; padding: 0; margin: 0; object-fit: cover; font-family: "object-fit: cover"; position: relative; @include transform(scale(1.0)); @include transition(transform 900ms ease-in-out);
    }
    @media all and (min-width: 640px) {
      width: 50%; height: 250px;
    }
    @media all and (min-width: 768px) {
      height: 300px;
    }
  }
  &__desc {
    width: 100%; height: auto; @include box-sizing(border-box); padding: 0 20px; margin: 0; color: $col2;
    & h4 {
      @include fluid-type(18px, 50px, 320px, 1200px); font-family: sofiaBold; margin: 0; padding: 0; line-height: 1;
    }
    & .rte {
      width: 100%; height: auto; padding: 0; margin: 0 0 10px; text-align: left;
      & p {
        margin: 0; padding: 0; @include fluid-type(13px, 18px, 320px, 1200px); line-height: 1.2;
      }
    }
    @media all and (min-width: 640px) {
      width: 50%;
    }
  }
  &__date {
    margin: 0 0 5px; padding: 0; @include fluid-type(12px, 15px, 320px, 1200px); line-height: 1;
  }
  &__link {
    display: block; text-align: left; margin: 0; padding: 0; color: $aqua; text-decoration: none; @include fluid-type(14px, 18px, 320px, 1200px); @include transition(all 300ms ease);
    &:hover {
      color: $col2;
    }
  }
  &__divider {
    border-top: 2px solid $aqua; margin-top: rem(16px); margin-bottom: rem(16px); box-sizing: content-box; height: 0; overflow: visible; displya: block;
  }
}
.boxBlog {
  width: 100%; height: auto; padding: 0; margin: 0 0 15px; position: relative; @include displayFlex(flex, column, flex-start, flex-start, wrap);
  &__image {
    width: 100%; height: 190px; @include box-sizing(border-box); padding: 0; margin: 0 0 5px; position: relative; overflow: hidden;
    & img {
      display: block; width: 100%; height: 100%; padding: 0; margin: 0; object-fit: cover; font-family: "object-fit: cover"; position: relative; @include transform(scale(1.0)); @include transition(transform 900ms ease-in-out);
    }
    @media all and (min-width: 640px) {
      height: 230px;
    }
  }
  &__desc {
    width: 100%; height: auto; @include box-sizing(border-box); padding: 0 20px; margin: 0; color: $col2;
    & h4 {
      @include fluid-type(16px, 26px, 320px, 1200px); font-family: sofiaBold; margin: 0 0 10px; padding: 0; line-height: 1;
    }
    & .rte {
      width: 100%; height: auto; padding: 0; margin: 0 0 10px; text-align: left;
      & p {
        margin: 0; padding: 0; @include fluid-type(13px, 16px, 320px, 1200px); line-height: 1.2;
      }
    }
  }
  &__date {
    margin: 0; padding: 0; @include fluid-type(12px, 15px, 320px, 1200px); line-height: 1;
  }
  &__link {
    display: block; text-align: left; margin: 0; padding: 0; color: $aqua; text-decoration: none; @include fluid-type(14px, 17px, 320px, 1200px); @include transition(all 300ms ease);
    &:hover {
      color: $col2;
    }
  }
}

.ctModal {
  width: 100%; height: 230px; padding: 0 30px; margin: 0; @include box-sizing(border-box); @include position(absolute, 50% null null 0); @include transform(translateY(-50%)); @include displayFlex(flex, column, center, center, wrap); background-color: $bgsinputs;
  &__icon {
    width: 100%; height: auto; padding: 0; margin: 0 0 15px; position: relative; text-align: center;
    & i {
      color: $aqua; @include fluid-type(20px, 65px, 320px, 1200px);
    }
    @media all and (min-width: 768px) {
      margin: 0 0 25px;
    }
    @media all and (min-width: 1024px) {
      margin: 0 0 40px;
    }
  }
  &__desc {
    width: 100%; height: auto; padding: 0; margin: 0; position: relative;
    & p {
      font-family: "sofiaRegular", Helvetica, Arial, sans-serif; margin: 0; padding: 0; color: $col2; text-align: center; @include fluid-type(13px, 16px, 320px, 1200px);
    }
  }
  &__title {
    margin: 0 0 10px; padding: 0; text-align: center; font-family: "sofiaBold", Helvetica, Arial, sans-serif; color: $aqua; @include fluid-type(16px, 22px, 320px, 1200px);
    @media all and (min-width: 768px) {
      margin: 0 0 15px;
    }
  }
  @media all and (min-width: 640px) {
    height: 250px; 
  }
  @media all and (min-width: 768px) {
    height: 280px; 
  }
  @media all and (min-width: 992px) {
    height: 300px; 
  }
  @media all and (min-width: 1024px) {
    height: 350px; 
  }
  &.hideMo {
    visibility: hidden; opacity: 0; z-index: -2; @include transition(opacity 300ms ease-in-out, visibility 0s, z-index 0s);
  }
  &.showMo {
    visibility: visible; opacity: 1.0; z-index: 2; @include transition(opacity 300ms ease-in-out, visibility 0s, z-index 0s);
  }
}

.secMask {
  margin-top: -38px;
  @media all and (min-width: 576px) {
    margin-top: 0;
  }
}
.slideCt {
  width: 100%; height: auto; padding: 315px 20px 0; margin: 0; position: relative; @include box-sizing(border-box); background-image: url('#{$imgR}empresas/curvaEmpresas2.png'), url('#{$imgR}empresas/curvaEmpresas2.png') !important; background-color: transparent; background-repeat: no-repeat; background-position: left; background-size: 85%; background-position-y: -5%; background-position-x: -238%; z-index: 1;
  @media all and (min-width: 576px) {
    padding: 30px 0 100px;
  }
  @media all and (min-width: 768px) {
    background-size: 26%; background-repeat: no-repeat; background-position: left; background-position-y: 100%; background-position-x: -10%; z-index: 2; padding: 50px 0 100px;
    background-image: url('#{$imgR}curva2.png'), url('#{$imgR}curva2.png') !important;
  }
  @media all and (min-width: 992px) {
    padding: 80px 20px 100px;
  }
  @media all and (min-width: 1200px) {
    padding: 100px 0 100px;
  }
  &__bgTrans {
    width: 100%; max-width: 1140px; height: auto; margin: 0 auto; padding: 40px 30px 20px; @include box-sizing(border-box); background: rgba(255, 255, 255, 1.0); border-radius: 25px; -webkit-box-shadow: none; box-shadow: none; position: relative; overflow: hidden;
    @media all and (min-width: 768px) {
      background: rgba(255, 255, 255, 0.8); border-radius: 25px; -webkit-box-shadow: 0px 1px 25px 4px #b0aeb0; box-shadow: 0px 1px 25px 4px #b0aeb0; text-align: left;
    }
  }
}
.slideCtPer {
  width: 100%; height: auto; padding: 315px 20px 0; margin: 0; position: relative; @include box-sizing(border-box); background-image: url('#{$imgR}empresas/curvaEmpresas2.png'), url('#{$imgR}empresas/curvaEmpresas2.png') !important; background-color: transparent; background-repeat: no-repeat; background-position: left; background-size: 85%; background-position-y: -5%; background-position-x: -238%; z-index: 1;
  @media all and (min-width: 576px) {
    padding: 30px 0 100px;
  }
  @media all and (min-width: 768px) {
    background-size: 26%; background-repeat: no-repeat; background-position: left; background-position-y: 25%; background-position-x: -10%; z-index: 2; padding: 50px 0 100px;
    background-image: url('#{$imgR}curva2.png'), url('#{$imgR}curva2.png') !important;
  }
  @media all and (min-width: 992px) {
    padding: 80px 20px 100px;
  }
  @media all and (min-width: 1200px) {
    padding: 100px 0 100px;
  }
  &__bgTrans {
    width: 100%; max-width: 1140px; height: auto; margin: 0 auto; padding: 40px 30px 20px; @include box-sizing(border-box); background: rgba(255, 255, 255, 1.0); border-radius: 25px; -webkit-box-shadow: none; box-shadow: none; position: relative; overflow: hidden;
    @media all and (min-width: 768px) {
      background: rgba(255, 255, 255, 0.8); border-radius: 25px; -webkit-box-shadow: 0px 1px 25px 4px #b0aeb0; box-shadow: 0px 1px 25px 4px #b0aeb0; text-align: left;
    }
  }
}


@media all and (min-width: 768px) {
  .horasSub{
    text-decoration: underline #5A58C4;
    text-decoration-thickness: 5px;
    border-bottom-width: 3.1px;
   padding-bottom: 15px;
   width: fit-content;
   text-underline-offset: 45%;
  }
}

.bgsSectionEmpresas{
  h1{

      @media all and (min-width: 768px) {
          text-align: left;
          margint-top: 15% !important;
          font-size: 3.5em;
          letter-spacing: 2px;
      }

  }

  .noMargin{
      @media all and (min-width: 768px) {
        justify-content: start !important;
      }
      label{

        @media all and (min-width: 768px) {
            text-align: left;
            font-size: 1.2em !important;
            width: 95%;
            margin-top: 7%;
        }

      }
  }
}

.contCvv{
  @media all and (min-width: 768px) {
    margin-left: -8% !important;
  }
}

.contEm h3 {
  @media all and (min-width: 768px) {
    font-size: 1.2em;
  }    
}


.sectionTar {
  background-color: #2E3649;
  min-height: 50vh;
  padding: 30px 3% 3%;
  box-sizing: border-box;
  text-align: center;
  @media all and (min-width: 576px) {
    text-align: left !important;
    padding: 50px 3% 3%;
  }
}

.titleCash {
  color: white;
  font-size: 2.6em;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 7% 0% !important;
  font-family: "sofiaBold", Helvetica, Arial, sans-serif;

  @media all and (min-width: 768px) {
    font-size: 3.1em;
  }    
}


.parCash {
  color: white;
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 1em;
  font-family: "sofiaRegular", Helvetica, Arial, sans-serif;

  @media all and (min-width: 768px) {
    font-size: 1.2rem;
  }   
}



.listTarEmpresas {
  list-style: none;
  color: #00DCDA;
  padding: 0% !important;
  font-family: "sofiaRegular", Helvetica, Arial, sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  margin-top: 5%;

  @media all and (min-width: 768px) {
    font-size: 1.2em;
    margin-top: 1%;
  }  
}


.contPantalla2{
  display: none !important;
  @media all and (min-width: 768px) {
    display: block !important;
  }  
}

.contPantalla2Mobile{
  padding: 0% !important;
  display: block !important;
  -webkit-box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.75);
  @media all and (min-width: 768px) {
    display: none !important;
    box-shadow: inherit;
  }  
}


.sectionStores {
  background-color: #ffffff;
  z-index: -2 !important;  
  position: relative;
  @media all and (min-width: 768px) {
    position: inherit;
    min-height: 50vh;
    padding: 3%;
    z-index: inherit;
  }  
}

.contTarNomi{
  display: none !important;
  @media all and (min-width: 768px) {
    display: block !important;
  }  
}

.contTarNomiMobile{

  .titleNomina {
      color: #2E3649;
      font-size: 2.3em;
      letter-spacing: 1px !important;
      font-weight: 100;
      font-family: "sofiaBold", Helvetica, Arial, sans-serif;
  }

  .parNomina {
    color: #2E3649;
    font-weight: lighter;
    font-size: 1.2em;
    font-family: "sofiaRegular", Helvetica, Arial, sans-serif;
    letter-spacing: inherit;
  }

  .parNomina2 {
    color: #2E3649;
    font-weight: lighter;
    font-size: 2.3em;
    font-family: "sofiaBold", Helvetica, Arial, sans-serif;
    letter-spacing: inherit;
  }

  .maskMobileNomina{
    background-image: url('#{$imgR}empresas/curvaEmpresas3.png'), url('#{$imgR}empresas/curvaEmpresas3.png') !important;
    width: 123%;
    height: 100%;
    padding: 0 0 0;
    margin: 0;
    margin-top: 0%;
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-y: 100%;
    background-position-x: 124% !important;
    z-index: 2 !important;
  }

  .contTarCred{
    padding: 0%;
    margin: 0%;
    text-align: left;
    margin-left: -20%;
    img{
      width: 150% !important;
      margin: 0% !important;
      padding: 0% !important;
    }
  }
  display: block !important;
  @media all and (min-width: 768px) {
    display: none !important;
  } 
}


.mask2.empresas {
    margin-top: 0%;
    z-index: -2;
    background-color: transparent;
    position: relative;
    @media all and (min-width: 768px) {
      margin-top: -2% !important;
      z-index: 1;
      background-color: transparent;
    } 
}


.maskEmpresas {
    background-image: url("#{$imgR}empresas/viaje.png"), url("#{$imgR}empresas/viaje.png") !important;
    background-color: transparent;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    background-size: 57%;
    background-position-y: 97%;
    width: 130%;
    background-position-x: 100%;
    z-index: 5 !important;
    @media all and (min-width: 768px) {      
      height: 124% !important;
      background-size: 47% !important;
      background-position-y: 0% !important;
      width: 100%;
      background-position-x: 133% !important;
      z-index: 34 !important;
      position: absolute;
      margin-top: -7%;
    } 
}


.sectionQueremos.empresas h3 {
  font-family: "sofiaBold", Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  letter-spacing: 1px;
  margin-top: 10% !important;
  margin-left: 6%;
  @media all and (min-width: 768px) { 
    font-size: 3.5em;
    letter-spacing: 2px;
    text-align: left;
    margin-top: 0% !important;
    margin-left: inherit;

  }
}


.listEmpresas {
  margin-left: -5% !important;
  @media all and (min-width: 768px) { 
    list-style: none;
  }
}


.listEmpresas li {
  
  color: white;
  font-family: "sofiaRegular", Helvetica, Arial, sans-serif;
  

  @media all and (min-width: 768px) { 
    font-size: 1.3rem;
    letter-spacing: 2px;
  }
}


.mask2.empresas p {

  font-family: "sofiaRegular", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  font-size: 1em;
  text-align: left;
  margin-left: 8%;
  margin-top: 0% !important;
  width: 100%;


  @media all and (min-width: 768px) { 
    font-size: 1.3rem;
    margin-top: inherit;
    margin-left: inherit;
  }
}


.mask2.empresas p.second {
  width: 61% !important;
  @media all and (min-width: 768px) { 
    width: 100%;
  }

}

#ContentContacto{
  @media all and (min-width: 768px) { 
    // z-index: -2 !important;
    position: relative;
  }
}


.contentFrm h2 {
    font-family: "sofiaBold", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    color: #2E3649;
    @media all and (min-width: 768px) { 
      font-size: 2.6em;
      margin-top: 3%;
    }
}

form label {
  @media all and (min-width: 768px) { 
    font-size: 1em;
    color: #2E3649;
    margin-top: 5%;
    }
}


form {
  margin: 0% !important;
  @media all and (min-width: 768px) { 
    // margin-top: 3rem !important;
  }
}

.contentFrm label {
    font-family: "sofiaRegular", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 1.2em;
     @media all and (min-width: 768px) { 
        font-size: 1em;
     }
}

.customRowForm{
  text-align: center !important;
  display: flex;
  justify-content: center;
  @media all and (min-width: 768px) { 
    text-align: left !important;
  }
}

.breadCt {
  width: 100%; height: auto; padding: 0; margin: 0 0 30px;
  & .breadcrumb {
    margin: 0; padding: 0; background-color: transparent;
    & li {
      margin: 0; font-size: rem(13px);
      &:before {
        display: inherit; margin: 0; top: 0; left: inherit; width: inherit; background-color: transparent; border-radius: 0; height: inherit; position: inherit; float: left; padding-right: .5rem; color: #6c757d; content: "/";
      }
      &:first-child {
        &:before {
          display: none;
        }
      }
    }
  }
}

.boxPerSlide {
  padding-bottom: 0;
  & .iconSection  {
    width: 100%; max-width: 90px; height: auto; display: block; margin: 0 auto; padding: 0;
  }
}
.bgWahite {
  background-color: $white;
}
.secMaskTwo {
  position: relative;
  & h4 {
    @include fluid-type(18px, 40px, 320px, 1024px); letter-spacing: 0;
  }
  & .mask2 {
    top: 350px;
  }
  @media all and (min-width: 768px) {
    & h4 {
      letter-spacing: 1px;
    }
    & .mask2 {
      top: inherit;
    }
  }
  @media all and (min-width: 1024px) {
    & h4 {
      letter-spacing: 2px;
    }
  }
  & .titleQuienes {
    @include fluid-type(25px, 80px, 320px, 1024px); letter-spacing: 0;
    @media all and (min-width: 768px) {
      letter-spacing: 1px;
    }
    @media all and (min-width: 1024px) {
      letter-spacing: 2px;
    }
  }
  & .boxDesc {
    margin-top: 30px;
  }
  & .sectionQueremos {
    padding: 30px 0; width: 100%; margin-left: 0; z-index: 2; position: relative;
    & h3 {
      letter-spacing: 0; @include fluid-type(18px, 26px, 320px, 1200px); margin-bottom: 20px;
    }
  }
  & .sectionEresEmp {
    & h2 {
      letter-spacing: 0; @include fluid-type(18px, 60px, 320px, 1200px); margin-bottom: 20px; text-align: center;
    }
  }
  & p {
    @include fluid-type(14px, 18px, 320px, 1200px); letter-spacing: 0; text-align: inherit;
  }
  @media all and (min-width: 768px) {
    & .sectionQueremos {
      padding: 30px 0 30px 100px; z-index: inherit;
    }
  }
  @media all and (min-width: 1024px) {
    & .sectionQueremos {
      width: 85%; margin-left: 15%; padding: 30px 0;
    }
  }
  @media all and (min-width: 1200px) {
    & .sectionQueremos {
      width: 80%; margin-left: 20%;
    }
  }
}
.frmPersonal {
  & h2 {
    text-align: left;
  }
  & label {
    text-align: left; @include fluid-type(13px, 15px, 320px, 1200px);
  }
}

.cvvCt {
  width: 100%; height: auto; padding: 60px 0; margin: 0; position: relative; background-color: $col2; @include box-sizing(border-box);
  &__img {
    width: 100%; height: auto; @include box-sizing(border-box); padding: 0; margin: 0;
    & img {
      display: block; margin: 0 auto; padding: 0; border: 0; width: 100%; max-width: 250px; height: auto;
    }
    @media all and (min-width: 768px) {
      & img {
        max-width: 500px;
      }
    }
  }
  &__box {
    width: 100%; height: auto; padding: 0; margin: 0; @include box-sizing(border-box); @include display(flex); @include flex-wrap(wrap);
  }
  &__item {
    @include box-sizing(border-box); margin: 0; padding: 0;
    & .cvvAni {
      width: 100%; height: auto; padding: 0; margin: 0 0 20px; @include display(flex); @include flex-direction(row); @include flex-wrap(wrap); @include align-items(center); @include justify-content(center); @include box-sizing(border-box);
      & h2 {
        color: $azulitoBajito; margin: 0; padding: 0; @include fluid-type(40px, 80px, 320px, 1200px);
      }
      & small {
        color: $azulitoBajito; margin: 0 20px 0 0; padding: 0; font-size: rem(14px); font-family: "sofiaBold", Helvetica, Arial, sans-serif;
      }
      @media all and (min-width: 768px) {
        @include justify-content(flex-start); margin: 0;
        & small {
          margin: 0 40px 0 0;
        }
      }
    }
    &:nth-child(1) {
      @include flex(0 0 100%); max-width: 100%;
    }
    &:nth-child(2) {
      @include flex(0 0 100%); max-width: 100%;
      & h3 {
        color: $white; margin: 0 0 15px;
      }
      & p {
        color: $white; margin: 0; padding: 0;
      }
    }
    @media all and (min-width: 768px) {
      &:nth-child(1) {
        @include flex(0 0 40%); max-width: 40%;
      }
    &:nth-child(2) {
      @include flex(0 0 60%); max-width: 60%;
        & h3 {
          margin: 0 0 20px;
        }
      }
    }
  }
}
.downloadApp {
  width: 100%; height: auto; padding: 35px 0; margin: 0; @include box-sizing(border-box); position: relative;
  @media all and (min-width: 768px) {

  }
}
.formGeneral {
  & .wpcf7 {
    & .ajax-loader {
      @include position(absolute, null null 10px 50%); @include transform(translateX(-50%)); z-index: 4; margin: 0;
    }
  }
  & form {
    & label {
      margin-top: 10px;
    }
    & textarea {
      height: 90px;
    }
  }
}
