/* ==|====================
   Modules/Inputs
   ======================= */

  form {
    @include margin(0 null 20px null);
    label {
      font-size: rem(14px); color: $white;
      a {
        color: $col1; text-decoration: none;
        &:hover {
          color: $col2;
        }
      }
    }
    fieldset {
      position: relative; margin-bottom: 10px;
    }
    & .animatedField {
      position: relative; width: 100%; height: 52px; line-height: 52px;
      & label {
        @include position(absolute, 0 null null 0); width: 100%; color: $col8; cursor: text; @include transition(0.2s all); margin: 0; padding: 0 0 0 17px; text-transform: uppercase; @include box-sizing(border-box);
      }
     & input[type="text"],
     & input[type="email"],
     & input[type="password"] {
        width: 100%; border: 0; outline: 0; padding: 17px 17px 10px; border: 0.5px solid $col8; box-shadow: none; background-color: $white!important; border-radius: 0!important; @include fluid-type(13px, 16px, 320px, 1200px);
        &:invalid {
          outline: 0;
        }
        &:focus,
        &:valid {
          border-color: $col1; background-color: $col4;
        }
        &:focus ~ label,
        &:valid ~ label {
          font-size: rem(11px); top: -16px; color: $col1; padding: 0 0 0 8px;
        }
        &.error-line {
          border-color: red; background-color: $col4;
        }
        &.error-line ~ label {
          color: red;
        }
      }
    }
    & .animatedTextArea {
      position: relative; width: 100%; height: auto;
      & label {
        @include position(absolute, 15px null null 0); width: 100%; color: $col8; cursor: text; @include transition(0.2s all); margin: 0; padding: 0 0 0 17px; height: calc(100% + 1px); @include box-sizing(border-box); text-transform: uppercase;
      }
      textarea {
        width: 100%; border: 0; outline: 0; padding: 17px 17px 10px; height: auto; border: 0.5px solid $col8; box-shadow: none; background-color: $white!important; border-radius: 0!important; @include fluid-type(13px, 16px, 320px, 1200px); margin-bottom: 0; @include box-sizing(border-box);
        &:invalid {
          outline: 0;
        }
        &:focus,
        &:valid {
          border-color: $col1; background-color: $col4;
        }
        &:focus ~ label,
        &:valid ~ label {
          font-size: rem(11px); top: 2px; color: $col1; padding: 0 0 0 8px;
        }
        &.error-line {
          border-color: red; background-color: $col4;
        }
        &.error-line ~ label {
          color: red;
        }
      }
    }
    // input[type="text"], input[type="email"] {
    //   background-color: $white!important; border: 1px solid $white!important; border-radius: 0!important; box-shadow: 0 0 5px rgba($black, 0.55);
    //   &:focus {
    //     border-color: $col1; outline: 0; box-shadow: 0 0 0 0.2rem rgba(147, 71, 21, 0.15);
    //   }
    //   &.error-line {
    //     border-color: red!important; outline: 0; box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.15);
    //   }
    //   @include placeholder {
    //     color: $c5;
    //   }
    // }
    // textarea {
    //   background-color: $white!important; border: 1px solid $white!important; border-radius: 20px!important; box-shadow: 0 0 5px rgba($black, 0.20); width: 100%; height: auto; @include box-sizing(border-box); padding: 20px;
    //   &:focus {
    //     border-color: $col2!important; outline: 0; box-shadow: 0 0 0 0.2rem rgba(238, 116, 34, 0.15)!important;
    //   }
    //   &.error-line {
    //     border-color: red!important; outline: 0; box-shadow: 0 0 0 0.2rem rgba(238, 116, 34, 0.15)!important;
    //   }
    //   @include placeholder {
    //     color: $c7; font-size: rem(24px); font-weight: 900;
    //   }
    // }
    // button[type="submit"], input[type="submit"] {
    //   width: auto; height: 40px; padding: 0 30px; margin: 0 0 0 0; text-transform: uppercase; text-align: center; color: $white; display: inline-block; border: 1px solid $col2; @include box-sizing(border-box); line-height: 38px; font-size: rem(16px); cursor: pointer; position: relative; overflow: hidden; border-radius: 20px; background-color: $col2; @include transition(all 0.23s); box-shadow: 0 0 5px rgba($black, 0.25);
    //   &:hover {
    //     background-color: $col3; color: $white; border: 1px solid $col3;
    //   }
    // }
    .loadBtn {
      pointer-events: none; background-color: rgba(238, 116, 34, 0.377)!important; @include transition(all 0.25s ease 0s);
      &:after {
        content: ''; @include position(absolute, 50% null null 50%); width: 32px; height: 32px; margin: 0; padding: 0; background-image: url('#{$imgR}3.svg'); background-position: center; background-size: 100%; background-repeat: no-repeat; @include transform(translate(-50%, -50%));
      }
    }
    & div.error-line {
      width: 20px; height: 20px; line-height: 20px; background-color: red; color: $white; font-size: rem(8px); padding: 0; margin: 0; @include position(absolute, -6px 0 null null); z-index: 3; border-radius: 50%; text-align: center;
    }
  }

  .form-group {
    margin-bottom: 15px;
  }

  .descForm {
    width: 100%; height: auto; padding: 0; margin: 0 0 20px 0; position: relative; text-align: center;
    h1, h2, h3, h4, h5, h6 {
      text-align: left; margin-bottom: 10px;
    }
    p { text-align: center; margin: 0; padding: 0; @include fluid-type(14px, 20px, 320px, 1200px); font-family: $hlight; }
    @media all and (min-width: 768px) {
      margin: 0 0 30px 0;
    }
    @media all and (min-width: 1024px) {
      margin: 0 0 40px 0;
    }
  }
  .optionsForm {
    width: 100%; height: auto; padding: 0; margin: 30px 0 15px; position: relative; text-align: center;
    p { text-align: left; margin: 0 0 8px 0; @include fluid-type(12px, 14px, 320px, 1200px); }
    a {
      color: $col1; text-decoration: none;
      &:hover {
        color: $col2;
      }
    }
  }
  .formCats {
    width: 100%; height: auto; padding: 0; margin: 0; position: relative;
    h5 { text-align: center; margin: 0 0 8px 0; @include fluid-type(12px, 14px, 320px, 1200px); }
    ul {
      width: 100%; height: auto; padding: 0; margin: 10px 0 10px 0; @include displayFlex(flex, row, center, flex-start, wrap); list-style-type: none;
      li {
        list-style-type: none; padding: 0 10px; margin-bottom: 13px; @include box-sizing(border-box); width: 33.333333%; position: relative;
        a {
          width: 50px; height: 50px; line-height: 50px; text-decoration: none; color: $white; text-decoration: none; background-color: $col11; font-size: rem(26px); margin-bottom: 4px; display: block; text-align: center; @include transition(all 0.23s); border-radius: 50%;
          &:hover {
            text-decoration: none; color: $white; background-color: $col2;
          }
        }
      }
    }
    @media all and (min-width: 768px) {
      ul {
        li {
          width: 25%;
        }
      }
    }
  }
  // Checbox Custom
  .CheckStyle {
    position: absolute; opacity: 0;
    & ~ label {
      position: relative; cursor: pointer; padding: 0; color: $col7; @include fluid-type(11px, 13px, 320px, 1200px);
      & a {
        color: $col5; font-weight: 500;
        &:hover {
          color: $col6;
        }
      }
    }
    & ~ label:before {
      content: ''; margin-right: 10px; display: inline-block; vertical-align: text-top; width: 15px; height: 15px; background: transparent; border: none; @include box-sizing(border-box); @include transition(all 0.25s ease); border-radius: 50%; box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.12);
    }
    &:hover ~ label:before {
      background: rgba($col1, 0.35);
    }
    &:focus ~ label:before {
      box-shadow: 0 0 0 3px rgba($col1, 0.12);
    }
    &:checked ~ label:before {
      background: rgba($col6, 0.10);
    }
    &:disabled ~ label {
      color: #b8b8b8;
      cursor: auto;
    }
    &:disabled ~ label:before {
      box-shadow: none;
      background: #ddd;
    }
    &:checked ~ label:after {
      content: ''; background: $col1; width: 15px; height: 15px; border-radius: 50%; @include position(absolute, 2px null null 0); box-shadow: 0 0 0 3px rgba($col1, 0.20);
    }
  }
  // Checbox Custom IMAGE
  .checkImg {
    position: absolute; opacity: 0;
    & ~ label {
      position: relative; padding: 0; margin: 0; cursor: pointer; display: block; color: $col6; text-align: center;
      & span {
        color: $col5!important; font-size: rem(10px);
      }
    }
    & ~ label:before {
      width: 50px; height: 50px; border: none; border-radius: 50%; display: block; margin: 0 auto 10px; line-height: 50px; text-align: center; box-shadow: 0 2px 4px rgba($black, 0.35); font-size: rem(30px); @include transition(all 300ms); color: $col1;
    }
    &:checked ~ label:before {
      background-color: $col1; color: $white;
    }
    &:disabled ~ label {
      color: #b8b8b8; cursor: auto;
    }
    &:disabled ~ label:before {
      background-color: $white; color: $col1;
    }
  }
  .btnModalIcon {
    position: relative; padding: 0; margin: 0 auto 10px; cursor: pointer; display: block; color: $col6; @include fluid-type(12px, 13px, 320px, 1200px); text-align: center; background-color: $white; box-shadow: 0 2px 4px rgba($black, 0.35);
    & img {
      width: 40px; height: auto; border: none; display: block; margin: 0 auto 0; @include position(absolute, 50% null null 50%); @include transform(translate(-50%, -50%));
    }
    // &:before {
    //   width: 50px; height: 50px; border: none; border-radius: 50%; display: block; margin: 0 auto 10px; line-height: 50px; text-align: center; box-shadow: 0 2px 4px rgba($black, 0.35); font-size: rem(30px); @include transition(all 300ms); color: $col1; background-color: $white;
    // }
    &:hover {
      box-shadow: 0 0 0 4px rgba($col1, 0.50);
    }
    &.currentStore {
      box-shadow: 0 0 0 4px rgba($col1, 0.50);
    }
  }
  .catsLink {
    position: relative; padding: 0; margin: 0 auto 30px; cursor: pointer; display: block; color: $col6; text-align: center; line-height: inherit!important; height: auto!important; font-size: rem(12px)!important; border-radius: 0!important; width: 100%!important;
    & .iconCir {
      width: 50px; height: 50px; border: none; border-radius: 50%; display: block; margin: 0 auto 10px; line-height: 50px; text-align: center; box-shadow: 0 2px 4px rgba($black, 0.35); font-size: rem(30px); color: $col1; background-color: $white;
    }
    & span {
      color: $col5!important; font-size: rem(10px);
    }
    // &:before {
    //   width: 50px; height: 50px; border: none; border-radius: 50%; display: block; margin: 0 auto 10px; line-height: 50px; text-align: center; box-shadow: 0 2px 4px rgba($black, 0.35); font-size: rem(30px); @include transition(all 300ms); color: $col1; background-color: $white;
    // }
    &:hover {
      background-color: $white!important;
      & .iconCir {
        box-shadow: 0 0 0 4px rgba($col1, 0.50);
      }
    }
    &.currentStore {
      background-color: $white!important;
      & .iconCir {
        box-shadow: 0 0 0 4px rgba($col1, 0.50);
      }
    }
  }
// Radio buttons Cusotm Img
.radioCustom:checked,
.radioCustom:not(:checked) {
  position: absolute; left: -9999px;
}
.radioCustom:checked + label,
.radioCustom:not(:checked) + label {
  position: relative; padding: 0; margin: 0; cursor: pointer; display: block; color: $col6; @include fluid-type(12px, 13px, 320px, 1200px);
}
.radioCustom:checked + label:before,
.radioCustom:not(:checked) + label:before {
  width: 50px; height: 50px; border: none; border-radius: 50%; display: block; margin: 0 auto 10px; line-height: 50px; text-align: center; box-shadow: 0 2px 4px rgba($black, 0.35); font-size: rem(30px); @include transition(all 300ms);
}
.radioCustom:not(:checked) + label:before {
  background-color: $white; color: $col1;
}
.radioCustom:checked + label:before {
  background-color: $col1; color: $white;
}

.inpLay {
  position: relative;
  div.error-inp {
    width: auto; height: auto; background-color: red; color: $white; @include position(absolute, 0 null null null); @include transform(translateX(100%));
  }
}
.inputIcon {
  position: relative; width: 100%; height: auto; margin: 0; padding: 0;
  input[type="text"], input[type="email"], input[type="password"] {
    padding-left: 30px;
  }
  textarea {
    padding-left: 30px;
  }
  i {
    @include position(absolute, 50% null null 10px); @include transform(translateY(-50%)); color: $c5;
  }
}

.g-recaptcha {
  @include transform(scale(0.74)); @include transform-origin(0 0); margin: 10px auto 10px auto; display: inline; position: relative;
  & > div {
    margin: 0 auto;
  }
 }
  
  @media only screen and (min-width: 360px) {
  
  }
  
  @media only screen and (min-width: 480px) {
    form {
      textarea {
        @include placeholder {
          font-size: rem(28px);
        }
      }
    }
  
  }
  
  @media only screen and (min-width: 576px) {
    .g-recaptcha {
      @include transform(scale(1.0));
    }
  }
  
  @media only screen and (min-width: 768px) {
    .inputIcon {
      input[type="text"], input[type="email"], input[type="password"] {
        padding-left: 10px;
      }
      textarea {
        padding-left: 10px;
      }
      i {
        @include position(absolute, 50% null null -25px); @include transform(translateY(-50%)); color: $col1;
      }
    }
    form {
      textarea {
        @include placeholder {
          font-size: rem(30px);
        }
      }
    }
  }
  
  @media only screen and (min-width: 992px) {
    form {
      textarea {
        @include placeholder {
          font-size: rem(35px);
        }
      }
    }
  
  }
  
  @media only screen and (min-width: 1024px) {
    form {
      textarea {
        @include placeholder {
          font-size: rem(40px);
        }
      }
    }

  }
  
  @media only screen and (min-width: 1200px) {
  
  }